*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
}

/*Margin and Padding*/
.p-1{
    padding: 1vh 1vw;
}
.p-2{
    padding: 2vh 2vw;
}
.m-1{
    margin: 1vh 1vw;
}

/*TEXT*/
.has-text-size-1 {
    font-size: 2rem;
}
.has-text-centered{text-align: center;}

/*FLOAT*/
.row::after{
    content: "";
    clear: both;
    display: table;
}

[class *= "col-"]{
    float: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    /*FLOAT*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

    /*Body*/
    body{
        width: 60%;
        margin: auto;
    }
}